/* style */

.containertopsection {
    background-color: #1F2937;
    font-family: 'Times New Roman', Times, serif;
}

.headerlogo {
    font-size: 24px;
    color: #f9faf8;
}

.header {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.text {
    font-size: 18px;
    color: #f9faf8;
    width: 500px;
}

.toplink {
text-decoration: none;
font-size: 18px;
color: #f9faf8;
}

/* top strap */
.containerlink {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
 
.containtertopstrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
}

/* content */

.containertwo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sing-in {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 16px;
}
